-# coding: UTF-8
!!!
%html.no-js
  %head
    %title= yield(:title)
    %meta(name="description" content="Quipper task manager")
    %meta(name="author" content="the-feel : Eric Waring")
    
    = stylesheet_link_tag :application, media: "all"
    = javascript_include_tag :application
    = javascript_include_tag "jquery.colorbox.js"
    /[if lt IE 9]
      = javascript_include_tag "http://html5shiv.googlecode.com/svn/trunk/html5.js"


    = csrf_meta_tags

  %body
    .container
      .row
        .twelvecolumn
          =yield
      = debug(params) if Rails.env.development?
            