-# coding: UTF-8
!!!
%html.no-js
  %head
    %title Quipper test: web design, IT consultancy and photography
    %meta(name="description" content="Quipper task manager")
    %meta(name="author" content="the-feel : Eric Waring")
    /%meta(name="copyright" content="Copyright the-feel #{Time.now.year}. All rights reserved.")
    
    = stylesheet_link_tag "blueprint/screen"
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = javascript_include_tag "jquery.colorbox.js"
    /[if lt IE 9]
      = stylesheet_link_tag "blueprint/ie"


    = csrf_meta_tags

  %body
    - flash.each do |name, msg|
      = content_tag :div, msg, :id => "flash_#{name}" if msg.is a?(String)
      #the_wrapper.container
        .row
          .twelvecol#mainContent
            =yield
            